# Why ANOVA

1. What if we wish to compare the mean of **more than two population**?
2. What if we wish to compare population each contain **several level or subgroups**?

Suppose we want to compare the THREE sample means **to see if a difference exists among them**

<img src="image/image (1).png">
<img src="image/image (2).png">
<img src="image/image (3).png">


What we are asking is ?

1. Do all the three mean comes from the same population?
2. Is one mean so far way from the other two that iit is likely nor from the same population?
3. all three are apart from each other that is all from the unique population?

# Variability Ratio

<img src="image/image (4).png">
<br>
<img src="image/image (5).png">

# When to reject

<img src="image/image (6).png">

# Problem

> 21 student at the college were selected for an informal study about study skill.
   * 7 from 1st year
   * 7 from second year
   * 7 from third year
> We are interested in whether a difference exits somewhere between the three different year level?.

In [7]:
import numpy as np
import pandas as pd

In [48]:
year_1 = np.array([82,93,61,74,69,70,53])
year_2 = np.array([71,62,85,94,78,66,71])
year_3 = np.array([64,73,87,91,56,78,87])

In [49]:
year = pd.DataFrame([year_1,year_2,year_3]).T

In [50]:
year.columns = ["year_1","year_2","year_3"]

In [51]:
individual_mean = year.mean()
individual_mean

year_1    71.714286
year_2    75.285714
year_3    76.571429
dtype: float64

A look at the mean tell us what ?

* year_1 mean bit odd from the other mean
* we don't know due the natural variation in total population.
* or there exist the abnormality

In [52]:
total = pd.melt(year)
total

   variable  value
0    year_1     82
1    year_1     93
2    year_1     61
3    year_1     74
4    year_1     69
5    year_1     70
6    year_1     53
7    year_2     71
8    year_2     62
9    year_2     85
10   year_2     94
11   year_2     78
12   year_2     66
13   year_2     71
14   year_3     64
15   year_3     73
16   year_3     87
17   year_3     91
18   year_3     56
19   year_3     78
20   year_3     87

In [53]:
total_mean = total.mean(numeric_only=True).value
total_mean

74.52380952380952

# Partitioning sum of square

<img src="image/image (7).png">

# Sum of square total

<img src="image/image (8).png">

In [54]:
sum_square_total  = ((total["value"] - total_mean)**2).sum()
sum_square_total

2901.2380952380954

# Sum of Square Column / between


<img src="image/image (9).png">

In [64]:
individual_mean - total_mean

year_1   -2.809524
year_2    0.761905
year_3    2.047619
dtype: float64

In [55]:
sum_square_column = ((individual_mean - total_mean)**2).sum()
sum_square_column

12.666666666666703

# Sum of Error / within

<img src="image/image (10).png">

In [56]:
def sum_of_square(data):
    mean = data.mean()
    return ((data -mean)**2).sum()

In [57]:
individual_sum_square = year.apply(sum_of_square)
individual_sum_square

year_1    1039.428571
year_2     751.428571
year_3    1021.714286
dtype: float64

In [58]:
sum_square_error = individual_sum_square.sum()
sum_square_error

2812.571428571429

In [61]:
dof_column = len(year.columns)-1
mean_square_column = sum_square_column/dof_column
mean_square_column

6.333333333333352

In [66]:
sum_square_column

12.666666666666703

In [59]:
from scipy import stats

In [60]:
stats.f_oneway(year_1,year_2,year_3)

F_onewayResult(statistic=0.2837261275904103, pvalue=0.7562784116739912)